body {
 background: linear-gradient(to bottom right, rgb(74, 199, 95) , rgb(99, 151, 188));
 
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

.logo{
    margin: 200px;
    margin-bottom: 50px;
    font-size: 40px;
}

.tema {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#bandeiras {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
#bandeiras h2 {
    height: 100px;
    font-size: 35px;
}

.grid {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px ;

    
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;

}

#filmes {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
#filmes h2 {
    height: 100px;
    font-size: 35px;
}

.grid {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px ;

    
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;

}

